# Node modules
node_modules/

# Build output
dist/
out/
build/
.next/

# Logs
*.log

# Environment variables
.env

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Coverage reports
coverage/

# Temporary files
tmp/
*.tmp


# Dependency directories
bower_components/